@charset "UTF-8";
/* CSS Document */

body{
    background-color: #DEF3ED;
    margin: 5%;
}
header{
    font-family: "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-size: 40pt;
}
p{
    font-family: "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-size: 20pt;
}
/*CSS til designers.html*/

.row{
    display: flex;
}
.column{
    flex: 50%;
    padding: 2%;
    
}
/*CSS til dina.html +++*/

#designers{
	padding-left: 10%;
	background-color: #DEF3ED;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
/*bilder*/
#person{
	width: 450px;
	height:  450px; /*endret bildestørrelse til 450 px og ikke 770 som planlagt*/
	
}
.produktbilder{
	column-count: 2;
	column-gap: 5px;

}

.produkt {
	width:450px;
	height: 450px;

}

.person_info {
	padding-top: 110px;
	column-count: 2;
	column-gap: 1px;

}


