@charset "UTF-8";
/* CSS Document */



/* =========================================================
			Global css-kode
============================================================*/


html body{
    background-color: #DEF3ED;
    width:  100%;
	max-width: 100vw;
	/*overflow-x: hidden;*/
    padding: 0;
	margin: 0;
}

header{
    font-family: "Muli", "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-size: 40px;
	background-color: #1e1e1e;
	padding: 0;
	width: 100%;
	position: static;
	color: #1e1e1e;
}

h1,h2 {
	font-family: Pt serif, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 40px;
	margin-left: 12vw;
	margin-bottom: 2vw;
	margin-top: 10vw;
	color: #1e1e1e;
}

p{
    font-family: "Muli", "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-size: 20px;
	font-weight: 200;
	color: #1e1e1e;
}

.text_about_page {
	margin-left: 12vw;
    margin-bottom: 2vw;
	margin-right: 12vw;
}

a{
    cursor: pointer; /* Gjør pekern om til klikkehånd*/
	text-decoration: none; /* fjerner understreken under alle tekstene i alle linker kan sette på klasser her om noen trenger understrek på link*/
	color: black;
}

footer{
    position: relative;
}


/*==========================================================
			 Slutt Global kode
============================================================*/



/*==========================================================
			Navigasjonsbar
============================================================*/


#navbar-placeholder{
	z-index: 1; 
	position: sticky;
	top: 0px;
}

#navigasjonsbar{
	position: relative;
	top: 0px;
	background-color: #1e1e1e;
	height: 80px;
    padding: 0px;
	/*border-top: 0.5px #DEF3ED solid;*/
	border-opacity: 0.3;
    box-shadow: 0px 0px 20px #1e1e1e;
} 

#navbar{
	position: absolute;
    list-style-type: none;
	width: 70%; 
	top: 10px;
	left: 200px;
	font-weight: 200;
    /*display: inline;*/
    /*height: 50px;*/    
}

#navbar li { /*Styling av listeelementer i navigasjonsmenyen*/
    display: inline;
	float: left;
	cursor: pointer;
	margin-left: 40px;
	/*Legger på en padding her for å skille knappene i navbaren*/
}

#navbar li:nth-child(3){
	position: absolute;
	right: 13%;
}

#navbar a{
     /* Gjør pekern om til klikkehånd*/
		 /* fjerner understreken under alle tekstene i alle linker kan sette på klasser her om noen trenger understrek på link*/
    text-align: right;
	color: #DEF3ED;
	font-family: 'Helvetica Neue', Helvetica, Arial, 'sans-serif';
	font-size: 20px;
}

#navbar a:hover {
	text-decoration: underline ;
	text-decoration-color: #009F67;
}

#logo_portobok{
	position: absolute;
	top: 20px;
	left: 13%;
	width: 40px;
	z-index: 1;
}


			/*hamburgermeny*/


#navigasjonsbar label {
	position: absolute;
	right: 	13%;
	top: 30px;
	display: none; /*gjør at denne bare er synelig når vinduet er mindre enn 940*/
	}

#navigasjonsbar label:hover{
	color: #009F67;
}

#box { /*når man trykker på burgermenyen blir boksen kjekket*/
	display: none; /*gjør at checkboksen ikke synest*/
}


		/*hamburgermeny slutt*/


/*==========================================================
			Navigasjonsbar
============================================================*/



/*==========================================================
			 Homepage.html
============================================================*/


#banner {
	position: static;
	width: 100%;
	height: 20%;
	font-family: "pt-serif"; /*får ikke til å ha en backupfont uten at den blir gjeldende*/ 
	font-size: 18vw; /*bruker vw isteden for px fordi den stiller seg inn etter nettsiden*/
	color: #009F67;
	text-align: center;
}  

.flex-container {
	display: flex;
	margin: auto;
	justify-content: center;
	justify-content: space-between;
	width: 80%;
} 

.flex-container div {
	text-align: left;
	width: 150px;
}

.ikonF{
 	width: 10vw;
} 

.ikonF:hover{
	box-shadow: 0px 2px 5px rgba(30,30,30,0.56);
}

.ikonF:active {
	position: relative;
	top: 1px;
}

.ikon-navn{ /* navnet under ikonene*/
	
	font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
	color: black;
	font-size: 12px;
}

.headersHome { /* "Prosjekter av våre designere" og "designere"-overskrift på homepagen*/
	margin: 100px 15% 0px 15%; 
	text-align: center;
}

.avsnitt { /* teskten under .headersHome */ 
	text-align: center;
	margin: 10px 15%;
	color: #1e1e1e;
}

#whiteBoxHome{ /*Avsnitt med bildekarusell og hvit bakgrunn på forsiden*/
	background-color: white;
	width: 100%;
	padding: 50px 0px 100px 0px;
}

.greenBoxHome{ /*Gjelder for de avsnittene på forsiden med grønn bakgrunn*/
	width: 100%;
	padding: 50px 0px 100px 0px;
}


/*start slideshow/bildekarusell */


#slideshow{
	height: auto;
	margin: 0 15%;
}

.slideshow-container {
    max-width: 100%; 
    position: relative; 
	height: auto;
	width: 80vw;
	margin: 100px 0px 0px 0px;
} 

.mySlides {
  display: none;
}

.mySlides img {
	width: 100%;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #1e1e1e;
    font-weight: bold;
    font-size: 30px;
    transition: .6s ease;
    border-radius: 0 3px 3px 0
}

.next {
    right: -50px;
    border-radius: 3px 3px 3px 3px
}

.prev {
    left: -50px;
    border-radius: 3px 3px 3px 3px
}

.prev:hover,
.next:hover {
    color: #009F67;
}

.text {
    font-family: "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: white;
	background-color: black;
	opacity: 0.5;
    font-size: 20px;
	font-weight: 400;
	margin-bottom: 4px;
    padding-top: 3%;
    padding-bottom: 3%;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
	background-color: lightgray;
    display: inline-block;
    transition: background-color .6s ease;
}

#dots {
	text-align: center;
}

.active,
.dot:hover {
	background-color: #1e1e1e;
}


/* slutt slideshow/bildekarusell */ 


/*==========================================================
			Slutt homepage.html
============================================================*/ 



/*==========================================================
			Start designers.html og projects.html
============================================================*/


.pictures_designers_and_projects{ /*Gjelder både designers og projects*/
    margin-left: 10%;
}

.image_designer_and_project{ /*Gjelder både designers og projects*/
    width: 35vw;
}

.row{
    display: flex;
}


			/*CSS til designers.html*/


.image_element{
    position: relative;
    padding: 2%;
	
	
}

.image_name_right{ /*Høyrestilte navn som passer til ikonene som krever det*/
    position: absolute;
    bottom: 1vw;
    right: 3vw;
    color: #000000;
    opacity: 0;
    font-size: 2.5vw;
    font-weight: bold;
}

.image_name_left{ /*Venstrestilte navn som passer til ikonene som krever det*/
    position: absolute;
    bottom: 1vw;
    left: 3vw;
    color: #000000;
    opacity: 0;
    font-size: 2.5vw;
    font-weight: bold;
}

.icon{
    position: absolute;
    left: 0.9vw;
    top: 0.9vw;
    width: 35vw;
    visibility: hidden;
}

.image_element:hover .icon{ /* Gjør ikonene synlig når hovret over*/
    visibility: visible;
    opacity: 0.9;
}

.image_element:hover .image_designer_and_project{ /* Gjør opacityen til bildet svakere når hovret over*/
    opacity: 0.7;
}

.image_element:hover .image_name_right{ /* Gjør navnene synlig når hovret over*/
    opacity: 0.9;
}

.image_element:hover .image_name_left{ /* Gjør navnene synlig når hovret over*/
    opacity: 0.9;
}


				/*projects.html*/


.image_name_design_dark{ /* Navn på designet og årstall*/
    position: absolute;
    bottom: 1vw;
    left: 3vw;
    color:#000000;
    opacity: 0;
    font-size: 2vw;
    font-weight: bold;  
}

.image_element_project{
    position: relative;
    padding: 2%; 
}

.image_element_project:hover .image_designer_and_project{ /*Gjelder produktbildene på designersidene også*/
    opacity: 0.4;
}

.image_element_project:hover .image_name_design_dark { /*Gjelder produktbildene på designersidene også*/
    opacity: 1;  
}


/*==========================================================
			Slutt designers.html og projects.html
============================================================*/



/*==========================================================
						Designersider
============================================================*/


#persontekst{
	margin-left: 5vw;
	margin-right: 0vw;
	margin-top: 0vw;
}

.undertekst{
	display: flex;
	flex-direction: row;
}

.bilde{
	width: 35vw;
	height: 35vw;
}

#ikon{
	width: 15vw;
	height: 15vw;
}

#ikonbilde{
	margin-left: auto;
	padding-right: 10vw;
	margin-top: 10vw;
}

#kaffekanne{
	margin-left: 5vw;
}

.produktbilde{
	width: 35vw;
	height: 35vw;
}

#produkttekst1{
	position: absolute;
	bottom: 2vw;
 	left: 1vw;
  	font-size: 30px;
	font-family: "Helvetica Neue", Helvetica, Arial, "sans-serif";
	opacity: 0;
    font-weight: bold;
}

#produkttekst2{
	position: absolute;
	bottom: 2vw;
 	left: 6vw;
  	font-size: 30px;
	font-family: "Helvetica Neue", Helvetica, Arial, "sans-serif";
	opacity: 0;
    font-weight: bold;
}

.columnD:hover .produktbilde{
	opacity: 0.4;
}

.columnD:hover #produkttekst1{
	opacity: 1;
}

.columnD:hover #produkttekst2{
	opacity: 1;
}

.columnD{
	position: relative;
	flex: 50%;
}

.rowD{
	display: flex;
	margin: 10%;
	text-align: justify;
}


/*==========================================================
					slutt designersider
============================================================*/ 



/*==========================================================
				    	Produktsider
============================================================*/
/*Jenny Marie*/


.Prow{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-bottom: 10vw;
	padding-top: 10vw;
}

.Pbilde{
	width: 80vw;
	height: 45vw;
}

#produkttekst{
	margin: 10vw;
}

#ptekst{
	margin-left: auto;
}


/*==========================================================
				 Slutt produktsider
============================================================*/



/*==========================================================
						Footer
============================================================*/


footer { /*hele footer-tagen*/
	background-color: #1e1e1e;
	height: 500px;
}

#footer{/* div rundt innholdet i footeren */
	height: 340px;
    padding: 80px 20px ;
	position: relative;
    display: grid;/* Setter opp et grid inne i footeren for å organisere innholdet på en oversiktlig måte */
	width: 90%;
    grid-template-columns: auto 300px auto;
	grid-template-rows:  50px 50px 50px 50px auto auto;
	grid-row-gap: 40px;
	margin: 10% auto auto;
	text-align: center;
}

#footer a {/* linker i footeren */
	color: #DEF3ED;
}

#footer_logo{ /* Link rundt Portobok-logoen og teksten under i footeren */
	grid-column: 2;
	grid-row: 1;
	width: 65px;
	margin: auto;
	display: block;
}

#footer img { /* bilder i footeren, ment for å bestemme størrelsen på logoen */
	width: 65px;
}

#icons_footer { /* div rundt iconene (facebook og instagram) i footeren, leget for å inneholde et grid som plasserer dem */
	grid-row: 3;
	grid-column: 2;
	width: 40%;
	display: grid;
	grid-template-columns: 50% 50%;
	margin: auto;
}

#facebook_icon { /* div rundt linken og iconet */
	width: 30px;
	margin: auto;
}

#instagram_icon {/* div rundt linken og iconet */
	margin: auto;
	width: 30px;
}

#facebook_icon img {/* facebook-iconet, plasserer og bestemmer størrelse */
	grid-column: 1;
	width: 30px;
	margin:  auto;
	display: block;
}

#instagram_icon img{/* instagram-iconet, plasserer og bestemmer størrelse */
	
	grid-column: 2;
	width: 30px;
	display: block;
	margin: auto;
}

.contact_information{ /* alle overskriftene i footeren */
    color: #DEF3ED;
}

#email{ /* id for overskrift og link til email */
	grid-column: 1;
	grid-row: 4;
    position: relative;
    bottom: 4px;
}

#phone{ /* id for overskrift og link til telefon */
	grid-column: 2;
	grid-row: 4;
    position: relative;
    bottom: 4px;
}

#adress{ /* id for overskrift og link til addresse */
	grid-column: 2;
	grid-row: 2;
    position: relative;
    bottom: 4px;
	margin-top: 40px;
}

#kontakt_designere { /* id for overskrift og link til link til kontaktsiden */
	grid-row: 4;
	grid-column: 3;
	position: relative;
	bottom: 4px;
}

#footer a:hover, #footer a p:hover{ /* fargeendring ved hovering over linker */
	color: #009F67;
}


/*==========================================================
			Footer slutt
============================================================*/



/*==========================================================
			Start kontaktside
============================================================*/


#contact_main { /* her kan styling rettet kun mot alt innhold på kontaktsiden skrives */
	
}

#contact_form { /* hele kontaktskjema */
	width: 500px;
	position: relative;
	margin: auto;
	margin-bottom: 100px;
	padding: 50px;
	display: block;
}

#thank_you { /* div der bekreftelse på sendt epost og personlig hilsen fra den aktuelle designeren kommer */
	display: none;
	width: 100vw;
	height: 100vh;
	margin: auto;
	
}

#thank_you p { /* Brødtekst med personlig beskjed fra designeren som mottar eposten */
	width: 350px;
	margin: auto 20vw  auto 30vw;
	line-height: 28px;
}

#mvh { /* for å skape litt luft over og under mvh i personlig beskjed fra designeren som mottar eposten */
	line-height: 60px;
}

#thank_you img { /* designer-icon som velges basert på hvem mailen i kontaktskjemaet sendes til */ 
	display: block;
	margin: 50px 20vw  40px  30vw;
	width: 200px;
}

#thank_you a { /* link for å komme tilbake til kontaktskjema */
	color: blue;
	font-size: 16px;
}

#contact_form label { /* Text i label for skjema */
	margin-left: 0;
	margin-bottom: 5px;
	font-family: "Muli", "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-size: 20px;
	font-weight: 200;
	color: #1e1e1e;
}

#contact_form input { /* input feltene i kontaktskjema */
	width: 100%;
	padding: 10px;

	margin: 0 0 20px;
	outline: none;
}

#contact_form textarea { /* tekstområde for mail */
	width: 100%;
	padding: 10px;
	height: 300px;
	resize: none;
	outline: none;
}

#contact_form button { /* send knapp */
	position: absolute;
	right: 30px;
	margin-top: 10px;
	background-color: #009F67;
	border: none;
	width: 120px;
	height: 40px;
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
	outline: none;
}

#contact_form datalist { /* liste over designere man kan kontakte*/
	position: relative;
	width: 100%;
}

#contact_form h1 {

	position: inherit;
	left: 0;
	margin: 50px 0;
	padding: 0;
}

#contact_form .status { /* beskjeder om mangelfull utfylling av skjema */
	font-family: "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: red;
}


/*==========================================================
						Slutt kontaktside
============================================================*/





/*==========================================================
						Media Queries*/



/*==========================================================
					Hamburgermeny Media Queries*/


@media (max-width: 940px) {

	
	body {
		overflow-x: hidden;
		padding: 0;
	}
	
	#navbar li {
		border: solid black 0.2px;
		position: relative;
		float: none;
		display: block;
		background-color: #DEF3ED;
		height: 40px;
		width: 100%;
		text-align: center;	
		margin-left: 0;
	}
	
	#navbar  {
		position: absolute;
		left: initial;
		right: 0;
		width: 300px;
		display: none;
		padding: 0px;
		top: 60px;
	 }
	
	#navbar li:first-child {
	}
	
	#navbar li:nth-child(2) {	
	}
	
	#navbar li:nth-child(3) {
		position: initial;
	}
	
	#navbar li:hover{
		background-color: #009F67;
	}
	
	#navbar a{
		position: relative;
		color: black;
		text-align: 10px;
	}
	
	#logo_portobok{
		width: 40px;
	}
	
	#navigasjonsbar label {
		right: 13%;
		width: 40px;
		float:right;
		color: #DEF3ED;
		cursor: pointer;
		display: block;
	}

} 


				/*Hamburgermeny Media Queries Slutt
============================================================*/



/*==========================================================
					Homepage media queri */


@media (max-width: 940px){  
	.flex-container{
		flex-wrap: wrap; /*gjør at bildene ikke lenger er på rekke når siden blirmindre*/
		justify-content: center;
		justify-content: space-between;
		align-content: flex-start;
		
		
	}
	.ikon-navn {
		font-size: 10px;;
	}
	
	.ikonF{
		width: 18vw;
		
		
	}
}


			/*Homepage Media Queries Slutt
============================================================*/ 



/*==========================================================
			Designere og projects Media Queries*/


@media (max-width: 940px){
	
    .row{
        flex-direction: column;
        width: 50vw;
        margin: auto;	
    }
	
    .image_name_right{
		
        left: 2% !important;
        opacity: 1 !important;
        bottom: -4vw !important;
    }
	
    .image_name_left{
        opacity: 1 !important;
        bottom: -4vw !important;
		left: 2% !important;
    }
	
    .image_element:hover .icon{ 
    	display: none;
	}
	
	.image_element{
		margin-top: 20%;
	
}
	

}


		/*Designere og projects Media Queries Slutt
==========================================================*/



/*==========================================================
				Designersider Media Queries*/ 


@media (max-width: 940px){
	
	h1{
		font-size: 30px;
		
	}
	#persontekst, #produkttekst1, #produkttekst2 #produkttekst .text_about_page{
		font-size: 15px;
	}	
	
}


			/*Designersider Media Queries Slutt
============================================================*/ 




/*============================================================
					Footer media queri */


@media (max-width: 940px){
    
	
	
	
	footer{ /* footer i media queri */
      height: 800px;
	}
	
    #email{ /* footer i media queri */
        grid-column: 2;
        grid-row: 4;
    }
	
    #phone{ /* footer i media queri */
         grid-column: 2;
        grid-row: 5;
		margin-top: 40px;
    }
	
    #kontakt_designere{ /* footer i media queri */
         grid-column: 2;
        grid-row: 6;
    }
}


				/*Footer medie queri slutt
=============================================================*/



/*============================================================
					Kontakt media queri */


@media (max-width: 650px) {
	#contact_form {
		width: 80%;
	}
}


				/*Kontakt medie queri slutt
=============================================================*/



===============
/*============================================================
					Media Queries Slutt
==============================================================*/
