@charset "UTF-8";
/* CSS Document */
/* felles css-kode*/
body{
    background-color: #DEF3ED;
   /* margin:10%; fjerner dette da det går ut over alt av som skal gå helt ut*/
    width:  1920px;
    padding: 0;
}

header{
    font-family: "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-size: 40pt;
}

p{
    font-family: "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-size: 20pt;
}

a{
    cursor: pointer; /* Gjør pekern om til klikkehånd*/
	text-decoration: none; /* fjerner understreken under alle tekstene i alle linker kan sette på klasser her om noen trenger understrek på link*/

}

footer{
    position: relative;
}

/*Slutt felleskode*/
/*CSS til designers.html*/

.row{
    display: flex;

}
.column{
    flex: 50%;
}

@media only screen and (max-width: 1200px){
    .row{
        flex-direction: column; 
    }
}
#designers_h1{
    font-size: 40pt;
    margin-left: 10%;
    
}
.text_about_designers{
    margin-left: 10%;
    margin-bottom: 5%;
    margin-right: 10%;
}
.pictures_designers{
    margin-left: 10%;
}
.image_element{
    position: relative;
    padding: 2%;
   
}
.image_designer{
    width: 30vw;
}
.image_name_right{ 
    position: absolute;
    bottom: 20px;
    right: 55px;
    color: #000000;
    visibility: hidden;
    font-size: 30pt;
    font-weight: bold;
}
.image_name_left{
    position: absolute;
    bottom: 20px;
    left: 55px;
    color: #000000;
    visibility: hidden;
    font-size: 30pt;
    font-weight: bold;
}
.icon{
    position: absolute;
    left: 30px;
    top: 30px;
    width: 30vw;
    visibility: hidden;
}
.image_element:hover .image_name_right{
    visibility: visible;  
}
.image_element:hover .image_name_left{
    visibility: visible;  
}
.image_element:hover .icon{
    visibility: visible;
    opacity: 1;  
}
.image_element:hover{
    opacity: 0.7;
}

/*CSS til dina.html, kristin.html +++ */
/*Jenny Marie*/

.designers{

	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	
	
}

.bilde{
	width: 450px;
	height: 450px;
}

.columnD{
	
	padding: 10px;
	margin: auto;
}

.rowD{
	display: flex;
	
}


#banner {
	position: static;
	width: 100vw;
	height: 20vw;
	background-color: black;
	font-family: "pt-serif"; /*får ikke til å ha en backupfont uten at den blir gjeldende*/
	font-size: 18vw; /*bruker vw isteden for px fordi den stiller seg inn etter nettsiden*/
	color: #009F67; 
	text-align: center;
	
}
.flex-container {
	display: flex;
	
}

.ikonF{ 
 	width: 10vw;
	margin-left: 5vw;
	margin-top: 15vw; /*still denne ned når navbaren er satt inn*/
	margin-right: 5vw;
	
}
.ikon-navn{
	margin-left: 5vw;
	margin-right: 5vw;
	font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
	color: black;
	font-size: 12px;
}

@media (max-width: 940px){    /*hvorfor er det brukt 1200 og ikke 940 som i trodde var standar???*/
	.flex-container{
		flex-wrap: wrap; /*gjør at bildene ikke lenger er på rekke når siden blirmindre*/
	}
	.ikon-navn {
		font-size: 10px;
	}
	.ikonF{
		width: 18vw;
	}
}

/*framside slutt*/
